<nav>
    <div class="nav-option">
        <img src="images/calendario.png" alt="">
        <a href="/">Today</a>
    </div>

    <div class="nav-option">
        <img src="images/capa.png" alt="">
        <a href="/work">Work</a>
    </div>
</nav>